# Dependency directories
node_modules/

# Build and IDE
dist/
build/
.nest/
.vscode/

# Logs and databases
logs
*.log
npm-debug.log*
yarn-error.log*
*.sqlite

# Environment variables
.env
.env.production
.env.local
.env.test

# Coverage & test output
coverage/
result.json
e2e_result.json
lint_output.*
tmp_test.log
tmp-test-*.ts

# OS Junk
.DS_Store
Thumbs.db


sample-data/